.cohort-graph {
  /* height: 350px; */
  height: 393px;
  border: solid 1px #ccc;
}
.cohort-graph-head-section {
  border-bottom: solid 1px #ccc;
  /* height: auto; */
  padding: 10px;
}
.cohort-graph-body-section {
  /* height: auto; */
  padding: 10px;
}
.sub-title-cohorts {
  font-family: HelveticaNeue;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.28;
  letter-spacing: normal;
  text-align: left;
  color: #00204a;
}
.sub-title-bg {
  padding: 5px 0;
  border-radius: 4px;
  background-color: rgba(0, 102, 152, 0.15);
}
.cohorts-auto-height {
  /* min-height: calc(100vh - 72px); */
  height: auto;
}
.data-source-params-title {
  font-family: HelveticaNeue;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.28;
  letter-spacing: normal;
  text-align: left;
  color: #00204a;
}
hr {
  margin-top: 5px !important;
}

.project-form-group {
  display: flex;
  align-items: center;
  margin: 10px 0px;
}
.project-form-label {
  width: 30%;
  font-family: HelveticaNeue;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  color: #606060;
}
.project-form-control {
  width: 70% !important;
  float: right;
  height: 29px !important;
}
.cohort-vertion-form-control {
  height: 29px !important;
}
.project-form-control-time-period {
  width: 29% !important;
  height: 29px !important;
}
.form-control {
  height: 29px !important
}
.input-group-addon {
  padding: 5px 12px !important;
}
.start_date {
  width: 165px
}
.end_date {
  width: 165px;
  margin-left: 20px
}
.project-steps-radio {
  min-width: 100px;
  font-family: HelveticaNeue;
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  color: #606060;
}
.project-steps-radio input {
  right: 5px;
}
.project-steps-radio label {
  left: 5px;
  font-weight: 400 !important
}
.verstion-desc-text {
  color: #ffffff;
  text-align: center;
  padding: 5px;
  border-radius: 4px;
  box-shadow: 0 1px 6px 0 #bcbcbc;
  background-color: #0063c3;
}
.cohorts-list {
  width: 80%;
  margin-left: 20%;
  border-radius: 4px;
  margin-top: 10px;
  color: #ffffff;
  box-shadow: 0 1px 6px 0 #bcbcbc;
}
.btn-cohorts-list-default {
  background-color: #0063c3;
  width: 100%;
  color: #ffffff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.btn-cohorts-list-active {
  background-color: #00204a;
  width: 100%;
  color: #ffffff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.btn-cohorts-list-default:hover, .btn-cohorts-list-active:hover {
  color: #ffffff
}
.close-cohort {
  width: 17px;
  height: 17px;
  margin-left: -6px;
  margin-top: -3px;
  object-fit: contain;
}
.close-sub-cohort {
  width: 17px;
  height: 17px;
  margin-left: -11px;
  margin-top: 0px;
  object-fit: contain;
  position: absolute;
}
.cohort-cambo {
  display: -webkit-box;
}
.btn-cohort-add {
  width: 60px;
  border-radius: 4px;
  box-shadow: 0 1px 6px 0 #bcbcbc;
  background-color: #ffffff;
}
.square-add-button {
  width: 13px;
  height: 13px;
  margin-right: 6px;
  margin-top: -3px;
  object-fit: contain;
}
.cohort-btn-text {
  /* background-color: #fff; */
  font-family: HelveticaNeue;
  font-size: 13px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.28;
  letter-spacing: normal;
  text-align: left;
  color: #0063c3;
}
.btn-sm {
  padding: 5px 8px !important;
}
.btn-lg {
  height: 44px !important;
}
.btn {
  padding: 6px 8px !important;
}
.btn-points-estimate {
  width: 115px;
  border-radius: 4px;
  border: solid 1px #0063c3 !important;
  background-color: #ffffff;
}
.btn-points-estimate-text {
  font-family: HelveticaNeue;
  font-size: 11px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.21;
  letter-spacing: normal;
  text-align: center;
  color: #0063c3;
  white-space: normal;
  word-wrap: break-word;
}
.btn-blue {
  font-size: 12px !important;
  border-radius: 4px;
  background-color: #0063c3;
  color: #ffffff;
  font-family: HelveticaNeue;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.28;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  padding: 5px 10px !important;
}
.btn-cohort-default {
  font-size: 12px !important;
  border-radius: 4px;
  border: solid 1px #707070 !important;
  background-color: #ffffff;
  font-family: HelveticaNeue;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.28;
  letter-spacing: normal;
  text-align: left;
  color: #606060;
  margin-left: 10px;
  padding: 5px 10px !important;
}
.arrow-pointing-right-in-a-circle {
  width: 17px;
  height: 17px;
  object-fit: contain;
}
.cohort-constuctor-elem-title {
  padding: 8px 5px 8px 10px;
  color: #ffffff;
  border-radius: 4px;
  box-shadow: 0 1px 6px 0 #bcbcbc;
  background-color: #0063c3;
}
.cohort-constuctor-elem-list-btn {
  text-align: center;
  border-radius: 4px;
  box-shadow: 0 1px 6px 0 #bcbcbc;
  background-color: #ffffff;
  border: 1px solid transparent;
  width: 100%;
  margin-top: 5px;
}
/* .cohort-constuctor-elem-list-btn:active .cohort-constuctor-elem-list-btn::before {
  outline: none
} */
.cohort-constuctor-elem-list-text {
  font-family: HelveticaNeue;
  /* font-size: 13px; */
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.28;
  letter-spacing: normal;
  text-align: center;
  color: #606060;
  padding: 5px 10px;
}
.icon-margin {
  margin-top: 4px;
  margin-right: 3px;
}
.cohort-graph-data-section {
  /* height: 300px; */
  height: 342px;
  display: inline-flex;
  width: 100%
}
.sub-cohorts {
  width: 60px;
}
.sub-cohort-btn-blue {
  color: #ffffff;
  border-radius: 4px;
  background-color: #00204a;
  padding: 5px 5px !important;
}
.sub-cohort-btn-blue:hover, .sub-cohort-btn-blue:active, .sub-cohort-btn-blue:focus {
  color: #ffffff !important;
  outline: none !important;
}
.btn:hover, .btn:active, .btn:focus {
  outline: none !important;
}
.sub-cohort-btn-white {
  border-radius: 4px;
  border: solid 1px #707070 !important;
  background-color: #ffffff;
  padding: 5px 5px !important;
}
.sub-cohort-add-btn-white {
  width: 13px;
  height: 13px;
  min-width: 26.69px;
  margin-top: -3px;
  object-fit: contain;
}
.cohort-graph-area {
  width: 100%;
  background-size: 10px 10px;
  background-image: linear-gradient(to right, rgb(204, 206, 206, 0.45) 1px, transparent 1px), linear-gradient(to bottom, rgb(204, 206, 206, 0.45) 1px, transparent 1px);
  /* padding: 10px !important; */
}
.sub-cohort-run-btn {
  border-radius: 4px;
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
  text-align: left;
  color: #00204a;
}
.sub-cohort-result-btn {
  margin-left: 15px;
  border-radius: 4px;
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  border: solid 1px #606060 !important;
  background-color: #ffffff;
  text-align: left;
  color: #00204a;
}
.close {
  margin-top: -18px;
  margin-right: -16px;
  opacity: 1 !important
}
.active-flowchart {
  border-bottom: 1px solid #00204a;
  background: #00204a;
}
.cohort-card-active {
  /* width: 107px;
  border-radius: 2px; */
  border-bottom: 1px solid #00204a;
  background-color: #00204a;
  /* padding: 5px;
  cursor: -webkit-grabbing; */
}
.cohort-card-default {
  /* width: 107px;
  border-radius: 2px; */
  border: solid 1px #707070;
  background-color: #ffffff;
  /* padding: 5px;
  cursor: -webkit-grabbing; */
}
/* .cohort-active-card-content {
  border-radius: 2px;
  background-color: #d7e7ef;
  padding: 0px 3px;
  margin-top: 3px;
  height: 56px;
  overflow: hidden;
}
.cohort-default-card-content {
  border-radius: 2px;
  background-color: #e3e3e3;
  padding: 0px 3px;
  margin-top: 3px;
  height: 56px;
  overflow: hidden;
} */
/* .cohort-active-card-content p, .cohort-default-card-content p {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: auto;
} */
.cohort-active-card-content {
  font-size: 10px;
  text-align: center;
  margin-top: -5px;
  margin-left: -44px;
  width: 90px;
  padding: 0px 2px;
  height: 62px;
  position: absolute;
  border-radius: 2px;
  background-color: #d7e7ef;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.cohort-default-card-content {
  font-size: 12px;
  text-align: center;
  margin-top: -5px;
  margin-left: -44px;
  width: 90px;
  padding: 0px 2px;
  height: 62px;
  position: absolute;
  border-radius: 2px;
  background-color: #e3e3e3;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.constructor-points {
  font-size: 11px;
  margin-top: 13px;
  cursor: auto;
}
.show-cohort-card {
  /* left: -100px;
  top: 50px; */
  margin-top: 15px;
  position: absolute;
}
.cohort-active-card-content p {
  color: #00204a;
  font-size: 10px;
}
.cohort-default-card-content p {
  color: #606060;
  font-size: 10px;
}
.color-white {
  color: #ffffff;
  font-size: 13px;
}
.color-default {
  color: #606060;
  font-size: 13px;
}
.sel-cohort-cards-list {
  /* height: 100%; */
  height: 300px;
  left: 0px !important;
  /* margin-top: 30px; */
  width: 100%;
  /* border: 1px solid red */
}
/* .masonry-grid {
  margin-bottom: 15px
} */
.panel {
  border: none !important;
}
.panel-group .panel-heading+.panel-collapse>.list-group, .panel-group .panel-heading+.panel-collapse>.panel-body{
  border-top: 0px !important;
}
.panel-body {
  padding: 0px !important;
}
.panel-title {
  font-size: 14px !important;
}
a[aria-expanded="true"] .panel-title {
  /* background-color: #eee; */
  /* margin-right: 10px; */
}
a[aria-expanded="true"] .panel-title:after {
  content: "\25B8";
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  margin-right: 10px;
  float: right;
  font-size: 15px;
}
a[aria-expanded="false"] .panel-title:after {
  content: "\25B8";
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
  margin-right: 10px;
  float: right;
  font-size: 15px;
  margin-top: -2px;
}
.alert-danger {
  width: 300px;
  margin-left: -92px;
}
.alert {
  padding: 8px 15px !important;
  margin-bottom: 0px !important;
}
/* Relational joins */
.cohort-card-ellipse-left {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  border: solid 1px #606060;
  position: absolute;
  background-color: #ffffff;
  cursor: default;
}
.cohort-card-ellipse-right {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  border: solid 1px #606060;
  position: absolute;
  background-color: #ffffff;
  cursor: default;
}
.link-triangle-right {
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-left: 7px solid #606060;
  border-bottom: 5px solid transparent;
  position: absolute;
  left: -8px;
  margin-top: -5px;
  cursor: default;
}
.next-sibling-link {
  width: 69px;
  margin-left: -70px;
  margin-top: 3px;
  border-bottom: solid 1px #606060;
  cursor: default;
}
.link-ellipse-active {
  left: -42px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  /* border: solid 1px #606060; */
  /* background-color: #ffffff; */
  position: absolute;
  top: -2px;
}
.link-ellipse-default {
  left: -42px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: solid 1px #606060;
  background-color: #ffffff;
  position: absolute;
  top: -2px;
}



.draggable_operator {
  display: inline-block;
  padding: 2px 5px 2px 5px;
  border: 1px solid #ccc;
  cursor: grab;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.close-flowchart-cohort{
  width: 17px;
  height: 17px;
  margin-left: 104px;
  margin-top: -101px;
  object-fit: contain;
  position: absolute;
}

.map_include{
  margin-left: -20% !important;
}

.or_style{
  padding-left: 30% !important;
  padding-top: 1%;
}

.map_drop_down{
  width: 65% !important; 
  padding-left: 2%;
  padding-right: 2%;
}

.project-form-group2 {
  display: flex;
  align-items: center;
  width: 200%;
  /*margin: 10px 0px;*/
}

td, th{
  padding: 5px !important;
}

table {
  width: 90%;
}

.cohort-right-element{
  text-align: right;
}

.cohort-left-element{
  text-align: left;
}

.by_input{
  width: 20% !important;
  height: 29px !important;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-left: 1%;
  padding-top: 9px !important;
}

.project-form-input {
  width: 130px !important;
  height: 29px !important;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  /*margin-left: 10%;*/
}

option {
  background-color: #d7e7ef;
}

.add_button {
  border: 1px solid #cccc;
    padding: 0px 6px 7px 7px;
    margin-left: -4%;
    margin-top: 19% !important;
    text-align: center;
}

.first-box {
  width:396px; 
  float:left; 
  border:1px solid black;
  height: 291px;
}

.first-box p {
  color: blue;
  text-align: 
}

.second-box {
  margin-left: -19px;
    width: 422px;
    height: 290px;
  border:2px solid #03a9f4db;
}

.second-box p {
  color: blue;
  padding-left: 15px;
  padding-top: 6px;
  
}

.diagnosis_create {
  border-radius: 4px;
  width: 65px;
  height: 25px;
  border: solid 1px #9d9d9d !important;
  background-color: #ffffff;
  font-size: 12px;
}

.add_map {
    width: 39px;
    height: 30px;
    border-radius: 4px;
    border: solid 1px #cccc;
    background-color: #ffffff;
    font-size: 19px;
    text-align: center;
    padding: 1px 3px 2px 3px;
    color: #606060;
    margin-left: 30%;
}

.close_map {
  width: 39px;
    height: 30px;
    border-radius: 4px;
    border: solid 1px #cccc;
    background-color: #ffffff;
    font-size: 19px;
    text-align: center;
    padding: 1px 3px 3px 3px;
    color: #606060;
    margin-left: 35%;
}

.dynamic_select{
  width: 60% !important;
  padding-left: 2% !important;
  padding-right: 2% !important;
  margin-left: -5%;
}

.modal_close{
  margin-top: -2px;
  margin-right: 0%;
  color: #ccc !important;
}

.first-row {
  margin-right: 50%;
}

.second-row {
  margin-right: 14%;
}

.cohort_card_input {
  margin-left: 2% !important;
  height: 29px !important;
  width: 18% !important;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f5f5f5;
}

.cohort-default-card-content{  
  padding: 6%;
  word-break: break-word;
}

.flowchart-operator .flowchart-operator-title {
  font-weight: normal !important; 
}

.multiselect {
 width: 100px;
}

.selectBox {
 position: relative;
}

.selectBox select {
 width: 100%;
 font-weight: bold;
}

.overSelect {
 position: absolute;
 left: 0;
 right: 0;
 top: 0;
 bottom: 0;
}

#checkboxes {
 display: none;
 border: 1px #dadada solid;
}

#checkboxes label {
 display: block;
}

#checkboxes label:hover {
 background-color: #1e90ff;
}