.content-card {
  min-height: calc(100vh - 122.12px) !important;
}
.card-auto-height {
  border-radius: 4px;
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
  padding: 15px;
}
.project-setup-header {
  height: 40px;
  box-shadow: 0 6px 45px 0 rgba(0, 102, 152, 0.15);
  background-color: #00204a;
  display: flex;
  align-items: center;
}
.project-setup-header .sub-title {
  font-family: HelveticaNeue;
  font-size: 15px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.23;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}
.project-stpes {
  margin-bottom: -12px;
}
ul#projectSteps {
  list-style-type: none;
  /* margin-top: 16px; */
  padding: 0;
  overflow: hidden;
  text-align: center
}
ul#projectSteps li {
  display: inline-block;
  text-align: center;
  padding: 0px 16px;
  text-decoration: none;
  font-family: HelveticaNeue;
  /* font-size: 22px; */
  /* font-weight: bold; */
  font-style: normal;
  font-stretch: normal;
  line-height: 1.23;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}
.active-project {
  font-weight: bold;
}
/* Project setup progress bar */
.status-bar {
  display: inline-flex;
  margin-top: 3px;
  align-items: center;
}
.ellipse-active {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #0063c3;
}
.ellipse-common {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
}
.ellipse-line-1 {
  width: 95px;
  height: 5px;
  background-image: linear-gradient(89deg, #0063c3, #ffffff);
}
.ellipse-line-2 {
  width: 95px;
  height: 5px;
  background-color: #ffffff;
}
.ellipse-line-3 {
  width: 201px;
  height: 5px;
  background-color: #ffffff;
}
/* Project Form styles */
.project-setup-info {
  /* width: 1200px; */
  /* height: 865px; */
  border: solid 1px #e0e0e0;
}
.project-setup-info-header {
  padding: 5px 10px;
  background-color: #d9e8f0;
}
.project-setup-info-sub-title {
  font-family: HelveticaNeue;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  color: #606060;
}
.project-form-group {
  display: flex;
  align-items: center;
  margin: 10px 0px;
}
.project-form-label {
  width: 50%;
  font-family: HelveticaNeue;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  color: #606060;
}
.project-form-control {
  width: 50% !important;
  float: right;
}
.project-member-control {
  width: 50% !important;
  background-color: #F5F5F5;
  border: none;
  font-family: HelveticaNeue;
}
.member-table {
  width: 100%;
  padding: 10px;
}
.member-table-thead {
  padding: 10px 0 !important;
  border-radius: 6px;
  background-color: #d9e8f0;
}
.member-table tbody {
  background-color: #f5f5f5;
}
.member-table tr{
  font-family: HelveticaNeue;
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.19;
  letter-spacing: normal;
  text-align: left;
  color: #606060;
}
.btn-cancel {
  width: 80px;
  height: 25px;
  border: none;
  color: #ffffff;
  border-radius: 4px;
  background-color: #606060;
  margin-right: 15px
}
.btn-next {
  width: 80px;
  height: 25px;
  border: none;
  color: #ffffff;
  border-radius: 4px;
  background-color: #0063c3;
  margin-right: 15px
}
.project-saved {
  font-family: HelveticaNeue;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.13;
  letter-spacing: normal;
  text-align: left;
  color: #606060;
}
