.content-card {
  min-height: calc(100vh - 122.12px) !important;
}
.card-auto-height {
  border-radius: 4px;
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
  padding: 0 15px 15px 15px;
}
/* Project Form styles */
.project-setup-info {
  /* width: 1200px; */
  /* height: 865px; */
  border: solid 1px #e0e0e0;
}
.project-setup-info-header {
  padding: 5px 10px;
  background-color: #6b9840;
}
.project-setup-info-sub-title {
  font-family: HelveticaNeue;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
}
.project-form-group {
  display: flex;
  align-items: center;
  margin: 10px 0px;
}
.project-form-label {
  width: 50%;
  font-family: HelveticaNeue;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  color: #606060;
}
.project-form-control {
  width: 50% !important;
  float: right;
}
.project-member-control {
  width: 50% !important;
  background-color: #F5F5F5;
  border: none;
  font-family: HelveticaNeue;
}
.member-table {
  width: 100%;
  padding: 10px;
}
.member-table-thead {
  padding: 10px 0 !important;
  border-radius: 6px;
  background-color: #6b9840;
}
.member-table tbody {
  background-color: #f5f5f5;
}
.member-table th{
  font-family: HelveticaNeue;
  font-size: 12px;
  font-weight: 100 !important;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.19;
  letter-spacing: normal;
  text-align: left;
  color: #fff ;
}
.btn-cancel {
  width: 80px;
  height: 25px;
  border: none;
  color: #ffffff;
  border-radius: 4px;
  background-color: #606060;
  margin-right: 15px
}
.btn-next {
  width: 80px;
  height: 25px;
  border: none;
  color: #ffffff;
  border-radius: 4px;
  background-color: #6b9840;
  margin-right: 15px
}
.project-saved {
  font-family: HelveticaNeue;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.13;
  letter-spacing: normal;
  text-align: left;
  color: #606060;
}

.table>thead>tr>th{
  font-weight: 100 !important;
}

.member-table tr{
  font-family: HelveticaNeue;
  font-size: 12px;
  font-weight: 100 !important;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.19;
  letter-spacing: normal;
  text-align: left;
}